anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
keyboard==0.13.5
pygame==2.0.1
pytube==12.0.0
pywin32==303
rfc3986==1.5.0
sniffio==1.2.0
youtube-search-python==1.6.1
ffmpeg-python==0.2.0
